.classgroup-div {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 5px;
  overflow: hidden;
}

.category-div {
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: @grey-300;
  width: 11em;
  height: 7em;
  margin: 5px;
  padding: 2px;
  float: left;
}

.dsheet-callsign {
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.outer-classgroup {
  float: left;
  margin: 2px;
  width: 58%;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 5px;
}

.course-div {
  margin: 5px;
  float: right;
  width: 38%;
}

.InputWithPopup {
  display: inline-block;
  position: relative;
}

.InputWithPopup-input {
  width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.InputWithPopup-popup {
  display: none;
  position: absolute;
  z-index: 1;
  border: 1px solid #aaa;
  background: #fff;
  top: 100%;
  padding: 5px 0px;
  max-height: 400px;
  overflow: auto;
  font-size: 12px;
  font-family: sans-serif;
  width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.InputWithPopup-popup--isOpen {
  display: block;
}

.List {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.List-option {
  display: block;
  padding: 2px 16px;
  cursor: default;
}

.List-option--isFocused {
  outline: 0;
  color: white;
  background: hsl(200, 50%, 50%);
}
