.register-div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;

  .register-form {
    margin-top: 50px;

    table {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .registration-error {
      color: @red-900;
      font-size: 150%;
      margin-bottom: 15px;
      margin-top: 15px;
  }
}
